img {
    margin-top: 30px;
}

div:nth-of-type(1) {
    position: absolute;
    border: 1px solid black;
    padding: 10px;
    right: 20px;
    top: 120px;
}

div:nth-of-type(2) {
    position: absolute;
    border: 1px solid black;
    padding: 10px;
    left: 20px;
    top: 120px;
}

.greenish {
    color: green;
}

.yellowish {
    color: yellow;
}

.bold {
    font-weight: bold;
}