<img #preview>

<table  border="1">

    <tr>
        <th>Full Name</th>
        <th>Title</th>
        <th>Location</th>
        <th>Birth Date</th>
        <th>Image</th>
    </tr>

    <tr *ngFor="let e of employees">
        <td> {{e.firstName }} {{e.lastName}} </td>
        <td> {{e.title}} </td>
        <td> {{e.city}},{{e.country}} </td>
        <td>
            <app-date dateStr=" {{e.birthDate}}"> </app-date> 
        </td> 
        <td>
            <!-- $event = The data sent by the event. -->
            <app-thumbnail 
            source="/assets/images/employees/{{e.firstName}}_{{e.lastName}}.png"
            side="50"
            (myClick)="preview.src=$event">  <!--הרשמה לאיוונט-->
            </app-thumbnail>     
        </td>

    </tr>

</table>
