table {
    margin: 30px auto;
}

tr:nth-child(even) {
    background-color: lightblue;
}

tr:nth-child(odd) {
    background-color: pink;
}

tr:first-child {
    background-color: lightgray;
}

img {
    position: fixed;
    bottom: 40px;
    left: 40px;
}
